@media screen and (min-width:500px){body {width:500px}}

:root {
  --f-s: 1.2em;
  --f-s-h: 1.6em;
  --f-s-m: .5em;
  --f-s-q: .25em;
}

.hyphenate::-webkit-scrollbar{
  width: 0;
}

html,body {
  height: 99%;
  overflow: auto;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body {
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: auto;
  background-color: white;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: var(--f-s);
  font-stretch: ultra-condensed;
  font-weight: 300;
  hyphens: auto;
  letter-spacing: -1px;
  margin: auto;
  padding: var(--f-s);
  text-indent: var(--f-s);
  text-rendering: optimizeLegibility;
}

div.scroller {
  margin-top: 3em;
  max-height: calc(100vh - 60px);
  overflow: auto;
  position: relative;
  z-index: 0;
}

button {
	background-color:silver;
	border-radius:var(--f-s-m);
	border:0;
	cursor:pointer;
	color:#ffffff;
	height: var(--f-s-h);
	font-size:var(--f-s);
	text-decoration:none;
}

audio {

  left: 0;
  position: fixed;
  top: 1em;
  width: 98%;
  z-index: 9;
}

:lang(ru) {
  color: black;
  font-style: normal;
}

:lang(en) {
  color: black;
  font-style: normal;
}

:lang(hy) {
  color: firebrick;
  font-style: italic;
  letter-spacing: 0;
  font-weight: 400;
}

h1, summary {
  font-family: "Times New Roman", serif;
  font-size: var(--f-s-h);
  font-weight: 900;
  margin: var(--f-s) auto;
  padding: var(--f-s-m);
  text-align: center;
  text-indent: 0;
  text-transform: capitalize;

}

summary {
  background: Silver;
  border-radius: var(--f-s-m);
  color: white;
  cursor: pointer;
  outline: 0;
}

summary:hover {
  background: Gray;
}


details[open]:after{
content:"â—";
color:white;}

details {
  border-radius: var(--f-s);
  box-shadow: 0 0 var(--f-s-q) Silver;
  margin: var(--f-s-m);
}

details > p {margin: var(--f-s-q);}

hr {
  border-top: 1px solid black;
  margin: var(--f-s);
}

a,a:link,a:visited {
  color: DarkCyan;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  background: DarkCyan;
  color: white;
}

p {
  margin-top: var(--f-s-q);
  margin-bottom: 0;
}

.r {
  margin-right: var(--f-s);
  text-align: right;
}
.c {
  text-align: center;
}
