@media screen and (min-width: 500px) {
  body {
    width: 500px;
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.9;
  }
}
:root {
  --f-s: 18px;
  --f-s-d: -18px;
  --f-s-h: 24px;
  --f-s-b: 26px;
  --f-s-2: 40px;
  --f-s-m: 10px;
  --f-s-q: 5px;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

.ogg {
  min-height: 2em;
  position: sticky;
  top: 0;
  width: 100%;
}

body {
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: auto;
  background-color: white;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: var(--f-s);
  font-stretch: ultra-condensed;
  font-weight: normal;
  hyphens: auto;
  letter-spacing: normal;
  line-height: normal;
  margin: auto;
  padding: var(--f-s);
  text-indent: var(--f-s-m);
  text-rendering: optimizeLegibility;
}

b {
  font-weight: 600;
}
em {
  font-weight: 500;
}
/* lang */

p:lang(ru),
span:lang(ru) {
  color: black;
}
p:lang(la),
span:lang(la) {
  color: DimGray;
}
p:lang(en),
span:lang(en) {
  color: #000039;
}
p:lang(hy),
span:lang(hy) {
  color: firebrick;
  font-style: italic;
}

p:lang(fr),
span:lang(fr) {
  color: darkviolet;
}

span:lang(hy):after {
  content: " — ";
}
.n:after {
  /*content: "";*/
  content: "" !important;
}

.d:before,
.i:before,
.m:before {
  content: "";
}

.d:after,
.i:after,
.m:after {
  content: "" !important;
}

.m {
  text-decoration: underline maroon;
  text-decoration-thickness: 1px;
  text-decoration-skip: ink;

}
.i {
  text-decoration: double underline red;
  text-decoration-skip: ink;
  text-decoration-thickness: 1px;

}
.d {
  text-decoration: double underline DarkSlateGray;
  text-decoration-skip: ink;
  text-decoration-thickness: 1px;
}

p:lang(zxx),
span:lang(zxx) { 
  color: DarkCyan;
  display: inline;
  font-size: var(--f-s);
  font-style: normal;
}
p:lang(zxx):before,
span:lang(zxx):before {
  content: "［";
}
p:lang(zxx):after,
span:lang(zxx):after {
  content: "］";
}

.zxx {
  color: DarkCyan;
  font-size: var(--f-s);
  margin-left: -0.6em;
}
/**************************/

dt {
  margin-top: var(--f-s);
}
dl {
  margin-bottom: var(--f-h);
}

/* headers */
/* redo fully h1 - 4  */

h1 {
  background-color: white;
  font-size: var(--f-s-2);
  font-weight: 500;
  margin: var(--f-s) auto var(--f-s-2) auto;
  padding: var(--f-s-m);
  text-align: center;
  text-indent: 0;
}

h2 {
  background-color: white;
  border-radius: var(--f-s-m);
  font-size: var(--f-s-b);
  font-weight: 500;
  margin: var(--f-s-2) auto var(--f-s-q) auto;
  padding: var(--f-s-m);
  text-align: right;
  text-indent: 0;
  text-transform: capitalize;
}

h3 {
  background-color: Gainsboro;
  border-radius: var(--f-s-m);
  box-shadow: 0 0 var(--f-s-q) Gray;
  font-size: var(--f-s);
  font-weight: 500;
  letter-spacing: 0;
  margin: var(--f-s-2) auto var(--f-s-m) auto;
  padding: var(--f-s-m);
  text-align: center;
  text-indent: 0;
  width: 80%;
}

h4 {
  background-color: Gainsboro;
  border-radius: var(--f-s-m);
  box-shadow: 0 0 var(--f-s-q) Gray;
  font-size: var(--f-s);
  font-weight: 500;
  letter-spacing: 0;
  margin: var(--f-s-2) auto var(--f-s-m) auto;
  padding: var(--f-s-m);
  text-align: center;
  text-indent: 0;
  width: 60%;
}

/*det summ**/
summary {
  background-color: Gainsboro;
  background: DarkCyan;
  border-radius: var(--f-s-m);
  color: white;
  cursor: pointer;
  font-size: var(--f-s);
  font-weight: 500;
  margin: var(--f-s) auto 0 auto;
  outline: 0;
  padding: var(--f-s-m);
  text-align: center;
  text-indent: 0;
}
details {
  border-radius: var(--f-s-m);
  box-shadow: 0 0 var(--f-s-q) DarkCyan;
  margin: var(--f-s) auto 0 auto;
}
.sh {
  border-radius: var(--f-s-m);
  box-shadow: 0 0 var(--f-s-q) DarkCyan;
  margin: var(--f-s) auto;
  padding: var(--f-s-m);
}

summary:hover {
  background: #01523c;
}
details[open]:after {
  color: white;
  content: "●";
}
details[open] {
  animation-duration: 3s;
  animation-name: fadeDown;
}
/********************/

/* tables */
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--f-s);
  text-align: center;
  text-indent: 0;
}
thead {
  font-variant: small-caps;
  font-weight: 500;
}
td {
  border: 1px solid Gainsboro;
  padding: 2px;
}
/****************/

hr {
  border-top: 1px solid black;
  margin: var(--f-s);
}
.h {
  margin: var(--f-s) auto;
  width: 50%;
}

/* buttons */
button {
  appearance: none;
  background: #acd9d9;
  border: 0;
  border-radius: var(--f-s-m);
  box-shadow: 0 0 var(--f-s-q) DarkCyan;
  color: white;
  cursor: pointer;
  font-size: var(--f-s);
  letter-spacing: 0;
  margin: var(--f-s-q);
  min-width: 7em;
  padding: var(--f-s-m);
}
button:hover {
  background: #01523c;
  box-shadow: 0 0 var(--f-s-m) DarkCyan;
}
button:focus {
  box-shadow: 0 0 0 var(--f-s-q) DarkCyan;
  outline: 0;
}

/* links */
a,
a:link,
a:visited {
  border-radius: var(--f-s-m);
  color: DarkCyan;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  background: DarkCyan;
  color: white;
}
a:before,
a:after {
  content: " ";
}
/*****************/

/* texts */
p,
pre,
li {
  margin-bottom: 0;
  margin-top: var(--f-s-q);
}

.r {
  text-align: right;
}
.c {
  text-align: center;
}
.b {
  margin-bottom: var(--f-s-h);
}
.bu {
  margin-top: var(--f-s);
  text-align: center;
  text-indent: 0;
}

p.z,
p.u,
p.uu {
  border-top: 1px solid black;
  margin-bottom: var(--f-s-q);
  margin-top: var(--f-s);
  padding-top: var(--f-s);
  text-indent: 0;
}
details + p.z,
details + p.u,
summary + p.z,
summary + p.u,
h3 + p.z,
h4 + p.z,
h3 + p.u,
h4 + p.u,
h3 + p.uu,
h4 + p.uu {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

p.z:before {
  content: "● ";
  text-decoration: none !important;
}
p.z:after,
p.u:after {
  content: ":";
}
p.uu:after {
  content: " ՝";
}

.pair {
  display: flex;
  font-size: var(--f-s);
}
.l {
  flex: 50%;
  font-size: var(--f-s);
}
.lr {
  font-weight: 600;
  writing-mode: vertical-rl;
}
/***********************************/

/* lists */
ul,
ol {
  margin: 0;
  padding-left: var(--f-s-m);
}
li {
  list-style: none;
  margin: 0 var(--f-s);
  padding-left: var(--f-s-m);
  text-indent: var(--f-s-d);
}
li:before {
  color: DarkSlateGray !important;
  content: "● ";
  text-decoration: none !important;
}
/*******************/

/* nav menu */
.abs {
  background: DarkCyan;
  border-radius: var(--f-s-m);
  box-shadow: 0 0 var(--f-s-m) DarkCyan;
  color: white;
  cursor: pointer;
  display: table-cell;
  height: 25%;
  left: var(--f-s) !important;
  opacity: 0.2;
  position: fixed;
  text-align: center;
  top: var(--f-s) !important;
  vertical-align: middle;
}
.abs:hover {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-color: #777;
  border-radius: var(--f-s-m);
  border-width: 1px 1px 1px 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
  border-color: #555;
  border-width: 1px 1px 1px 2px;
}
::-webkit-scrollbar-track {
  border-radius: var(--f-s-m);
  border-width: 0;
}
::-webkit-scrollbar-track:hover {
  background-color: #eee;
  border-left: solid 1px #aaa;
}

.big li {
  padding: var(--f-s-m) 0;
}
ul.big {
  margin: auto;
  text-align: center;
}
.big a {
  padding: var(--f-s-q) 0;
}

.sidenav {
  background-color: Silver;
  border-radius: var(--f-s-m);
  bottom: var(--f-s);
  box-shadow: 0 0 var(--f-s-m) gray;
  left: var(--f-s);
  opacity: 0.95;
  overflow-x: hidden;
  padding-top: 0;
  position: fixed;
  top: var(--f-s);
  transition: 1s;
  width: 0;
  z-index: 1;
}

.sidenav li {
  padding: var(--f-s-q) 0;
}
.sidenav a {
  border-radius: var(--f-s-m);
  color: black;
  display: inline;
  font-weight: 300;
  padding: var(--f-s-q) 0;
  transition: 0.5s;
}

.inl {
  border-radius: var(--f-s-m);
  display: inline !important;
  font-size: var(--f-s-h);
  padding: 0;
  text-align: center;
  text-indent: 0;
}
.sidenav a:hover {
  background: DarkCyan;
  color: white;
}
/*************************/

div.j {
  column-gap: 1%;
  display: grid;
  grid-template-columns: repeat(2, auto);
}

div.jj {
  column-gap: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, max-content));
}

div.f {
  column-gap: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, max-content));
}

div.jjj {
  column-gap: 1%;
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, max-content));
}

div.j > p {
  text-indent: 0;
}
div.jj > p {
  margin-right: var(--f-s-q);
  text-indent: 1em;
}

div.jjj > p {
  margin-right: var(--f-s-m);
  text-indent: 0;
}
